.about-us-container {
  max-width: 600px;
  margin: 50px;
  padding: 20px;
  text-align: justify;
  float: left;
}

.social-icons {
  margin-top: 20px;
}

.social-icons .MuiIconButton-root {
  margin-right: 10px;
}

.social-icons .MuiSvgIcon-root {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .about-us-container {
    float: none;
    margin: 20px auto;
  }
}
